body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('prism.jpeg');
    background-size: cover;
    background-position: center 69%;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.bg-gray-900 {
    background-color: rgba(31, 41, 55, 0.8);
}

.bg-gray-800 {
    background-color: rgba(45, 55, 72, 0.8);
}

.light-orange {
    color: #ffc3a0;
}

.gradient-text {
    background-image: linear-gradient(to right, #ddd6fe, #a78bfa);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
